google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.28.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
json5==0.9.14
jsonschema==4.21.1
llama-api-server==0.2.2
llamacpp==0.1.14
matplotlib==3.1.2
matplotlib-inline==0.1.6
mistralai==0.0.12
numpy==1.17.4
openai==1.12.0
orjson==3.9.15
pandas==0.25.3
path.py==12.0.1
plotly==4.4.1
python-json-logger==2.0.7
python3-openid==3.1.0
requests==2.31.0
simplejson==3.16.0